<component name="ArtifactManager">
  <artifact type="war" name="spring_websocket_chat:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring_websocket_chat-1.0.0.war">
      <element id="artifact" artifact-name="spring_websocket_chat:war exploded" />
    </root>
  </artifact>
</component>